@import 'variables.css';

@font-face {
  font-family: 'Barrio';
  font-style: normal;
  font-weight: 400;
  src:
    url('../assets/fonts/Barrio-Regular.ttf') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src:
    url('../assets/fonts/OpenSans-Regular.ttf') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src:
    url('../assets/fonts/OpenSans-Bold.ttf') format('woff');
}

body {
  font-family: var(--primary-font);
  margin: 0;
  padding: 0;
}
