@import '../../variables.css';

.header {
  background-color: #24292e;
}

.headerInner {
  padding: 10px 0;
  max-width: 980px;
  margin: 0 auto;
}

.title {
  font-family: var(--secondary-font);
  font-size: 22px;
  color: #fff;
  margin: 0;
}
