.observerItem {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  border: 1px solid #eee;
  border-radius: 2px;
  padding: 10px;
  margin-bottom: 10px;
}

.info {
  border-top: 2px solid #3f51b5;
}

.error {
  border-top: 2px solid #F44336;
}

.message {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}


.description {
  p {
    font-size: 13px;
    margin: 5px 0;
  }
}

.special {
  font-weight: 700;
}
